{% extends 'base.html' %}

{% block content %}
<div class="dropdown container">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Restaurants
  </button>
  <div class="dropdown-menu huge" aria-labelledby="dropdownMenuButton">
    <form method="POST" action="">
      {% csrf_token %}
    <a class="dropdown-item" href="#">KFC</a>
    <a class="dropdown-item" href="#">შაურმა</a>
    <a class="dropdown-item" href="#">Macdonalds</a>
    <a class="dropdown-item" href="#">Something else</a>
    </form>
  </div>
</div>

{%endblock%}