body, html{
    margin: 0;
    padding: 0;
    height: 92%;

    
}
body{
    background-image: url('../images/homebackground.jpg');
    background-attachment: fixed;
    background-size: cover;

}
.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.bg-light {
    background-color: transparent !important;
}

.myclass{
    color:black
}
.navbar-dark .navbar-nav .nav-link {
    color:black
}

.container{
    transform:scale(1.19);
    display:flex;
    align-items:center;
    margin-top: 170px;
    justify-content: center;
    color: white;

}

.dropclass{
    transform:scale(1.19);
    display: flex;
    margin-top: 170px;
    align-items: center;
    justify-content:center;
}
.text-muted {
    color: white !important;
}

.huge{
    display:flex;
    align-items:center;
    margin-top: auto;
    justify-content: center;
    background: transparent;

}

